@model BillboardApp.Models.Face

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Face</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FaceAvailability.AvailabilityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceAvailability.AvailabilityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaceBound.Bound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceBound.Bound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaceCondition.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceCondition.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaceOccupancy.Occupancy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceOccupancy.Occupancy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaceOrientation.Orientation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceOrientation.Orientation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacePosition.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacePosition.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaceSize.FaceSizeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceSize.FaceSizeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaceVisibilityRating.FaceVisibilityRatingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceVisibilityRating.FaceVisibilityRatingID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Structure.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Structure.Comment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
