@model BillboardApp.Models.Street

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Street</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Route.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetNameByCollector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNameByCollector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetNameByGIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNameByGIS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StreetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
