@model X.PagedList.IPagedList<BillboardApp.ViewModels.StreetViewModel>
@using X.PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Streets";
}

<h2>Streets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Streets", FormMethod.Get))
{     <p>
        Find by Collector/GIS Name @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Route Name", "Index",
                new { sortOrder = ViewBag.RouteSortParm, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.Route.Name)*@
        </th>
        <th>
            @Html.ActionLink("Collector Name", "Index",
                new { sortOrder = ViewBag.StreetNameByCollectorSortParm, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.StreetNameByCollector)*@
        </th>
        <th>
            @Html.ActionLink("GIS Name", "Index",
                new { sortOrder = ViewBag.StreetNameByGISSortParm, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.StreetNameByGIS)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Route)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetNameByCollector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetNameByGIS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StreetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StreetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StreetID })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter =
            ViewBag.CurrentFilter
    }))