@model IEnumerable<BillboardApp.Models.FaceVisibilityRating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Face.FaceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VegetationCoverScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaceLightingScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaceRunUpScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaceTrafficScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaceClutterScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Face.FaceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VegetationCoverScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaceLightingScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaceRunUpScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaceTrafficScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaceClutterScore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FaceVisibilityRatingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FaceVisibilityRatingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FaceVisibilityRatingID })
        </td>
    </tr>
}

</table>
