@model X.PagedList.IPagedList<BillboardApp.ViewModels.FaceLightingViewModel>
@using X.PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Face Lightings";
}

<h2>Face Lightings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "FaceLightings", FormMethod.Get))
{     <p>
        Find by Type/Score @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Type", "Index",
                                  new { sortOrder = ViewBag.ParameterSortParm, currentFilter = ViewBag.CurrentFilter })

            @*@Html.DisplayNameFor(model => model.Type)*@
        </th>
        <th>
            @Html.ActionLink("Score", "Index",
                         new { sortOrder = ViewBag.ScoreSortParm, currentFilter = ViewBag.CurrentFilter })

            @*@Html.DisplayNameFor(model => model.Score)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Parameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FaceLightingID }) |
                @Html.ActionLink("Details", "Details", new { id = item.FaceLightingID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FaceLightingID })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter =
            ViewBag.CurrentFilter
    }))