@{
    ViewBag.Title = "Admin Settings";
}

<h2>Administer over the database from here</h2>

<div class="row">
    <div class="col-xs-4">Database Table</div>
    <div class="col-xs-8 ">Description</div>
</div>
<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Structures", "Index", "Structures")</div>
    <div class="col-xs-8 ">A list of all structures.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Structures Owners", "Index", "StructureOwners")</div>
    <div class="col-xs-8 ">A list of all structure owners.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Structures Types", "Index", "StructureTypes")</div>
    <div class="col-xs-8 ">A list of all structure types.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Bounds", "Index", "FaceBounds")</div>
    <div class="col-xs-8 ">A list of all face bound characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Clutters", "Index", "FaceClutters")</div>
    <div class="col-xs-8 ">A list of all face clutters characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Conditions", "Index", "FaceConditions")</div>
    <div class="col-xs-8 ">A list of all face conditions characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Images", "Index", "FaceImages")</div>
    <div class="col-xs-8 ">A list of all face images characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Lightings", "Index", "FaceLightings")</div>
    <div class="col-xs-8 ">A list of all face lightings characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Occupancies", "Index", "FaceOccupancies")</div>
    <div class="col-xs-8 ">A list of all face occupancies characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Orientations", "Index", "FaceOrientations")</div>
    <div class="col-xs-8 ">A list of all face orientations characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Positions", "Index", "FacePositions")</div>
    <div class="col-xs-8 ">A list of all face positions characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Run Ups", "Index", "FaceRunUps")</div>
    <div class="col-xs-8 ">A list of all face run ups characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Sizes", "Index", "FaceSizes")</div>
    <div class="col-xs-8 ">A list of all face sizes characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Traffic", "Index", "FaceTraffic")</div>
    <div class="col-xs-8 ">A list of all face traffic characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Face Visibility Ratings", "Index", "FaceVisibilityRatings")</div>
    <div class="col-xs-8 ">A list of all face visibility ratings characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Industries", "Index", "Industries")</div>
    <div class="col-xs-8 ">A list of all industries characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Industry Types", "Index", "IndustryTypes")</div>
    <div class="col-xs-8 ">A list of all face industry types characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Products", "Index", "Products")</div>
    <div class="col-xs-8 ">A list of all product characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Routes", "Index", "Routes")</div>
    <div class="col-xs-8 ">A list of all routes characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Streets", "Index", "Streets")</div>
    <div class="col-xs-8 ">A list of all streets characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Sweeps", "Index", "Sweeps")</div>
    <div class="col-xs-8 ">A list of all sweeps characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Vegetation Cover Parameters", "Index", "VegetationCovers")</div>
    <div class="col-xs-8 ">A list of all vegetation cover parameter characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Devices", "Index", "Devices")</div>
    <div class="col-xs-8 ">A list of all devices characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Device Status", "Index", "DeviceStatus")</div>
    <div class="col-xs-8 ">A list of all device status properties.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Advertisers", "Index", "Advertisers")</div>
    <div class="col-xs-8 ">A list of all advertisers.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Agencies", "Index", "Agencies")</div>
    <div class="col-xs-8 ">A list of all agencies properties.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Backlights", "Index", "Backlights")</div>
    <div class="col-xs-8 ">A list of all backlights properties.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Campaigns", "Index", "Campaigns")</div>
    <div class="col-xs-8 ">A list of all campaigns </div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Wards", "Index", "Wards")</div>
    <div class="col-xs-8 ">A list of all wards characteristics.</div>
</div>

<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Constituencies", "Index", "Constituencies")</div>
    <div class="col-xs-8 ">A list of all constituencies in Kenya.</div>
</div>
<div class="row">
    <div class="col-xs-4">@Html.ActionLink("Counties", "Index", "Counties")</div>
    <div class="col-xs-8 ">A list of all counties in Kenya.</div>
</div>