@model BillboardApp.Models.Campaign

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agency.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agency.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CampaignID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
