@model X.PagedList.IPagedList<BillboardApp.ViewModels.DeviceStatusViewModel>
@using X.PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{

@{
    ViewBag.Title = "Device Status";
}

<h2>Device Status</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "DeviceStatus", FormMethod.Get))
{     <p>
        Find by Status @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Status", "Index",
                new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

            @*@Html.DisplayNameFor(model => model.Status)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeviceStatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeviceStatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeviceStatusID })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter =
            ViewBag.CurrentFilter
    }))