@model X.PagedList.IPagedList<BillboardApp.ViewModels.IndustryTypeViewModel>
@using X.PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Industry Type";
}

<h2>
    Industry Type
</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "IndustryTypes", FormMethod.Get))
{     <p>
        Find by Type @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Type", "Index",
                new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IndustryTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IndustryTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IndustryTypeID })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter =
            ViewBag.CurrentFilter
    }))