@model X.PagedList.IPagedList<BillboardApp.ViewModels.StructureViewModel>
@using X.PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Structures";
}

<h2>Structures</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Structures", FormMethod.Get))
{     <p>
        Find by Owner/Type @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Owner", "Index",
                new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            
        </th>
        <th>
            @Html.ActionLink("Type", "Index",
                new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter })
            
        </th>
        <th>
            @Html.ActionLink("Face Count", "Index",
                new { sortOrder = ViewBag.FaceCountSortParm, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.FaceCount)*@
        </th>
        <th>
            @Html.ActionLink("Comment", "Index",
                new { sortOrder = ViewBag.CommentSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Latitude", "Index",
                new { sortOrder = ViewBag.LatitudeSortParm, currentFilter = ViewBag.CurrentFilter })            
            @*@Html.DisplayNameFor(model => model.Latitude)*@
        </th>
        <th>
            @Html.ActionLink("Longitude", "Index",
                new { sortOrder = ViewBag.LongitudeSortParm, currentFilter = ViewBag.CurrentFilter })            
            @*@Html.DisplayNameFor(model => model.Longitude)*@
        </th>
        <th>
            View on Map     
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaceCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StructureID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StructureID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StructureID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StructureID })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter =
            ViewBag.CurrentFilter
    }))