@model BillboardApp.Models.CampaignRoute

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CampaignRoute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Campaign.CampaignName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign.CampaignName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CampaignRouteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
