@model IEnumerable<BillboardApp.Models.CampaignRoute>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Campaign.CampaignName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Campaign.CampaignName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CampaignRouteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CampaignRouteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CampaignRouteID })
        </td>
    </tr>
}

</table>
